@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Gaegu:wght@300;400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  margin: 0;
  font-family: "DM Serif Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9F8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hamarabtnPrime {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  color: #202020;
  background: #F6C90E;
  border: 3px solid #3A4750;
  /* border-radius: 4px; */
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

.hamarabtnPrime:hover {
  box-shadow: 4px 4px 0 #3A4750;
  transform: translate(-4px, -4px);
}

.hamarabtnPrime:focus-visible {
  outline-offset: 1px;
}

.hamarabtnSecond {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  color: #F6C90E;
  background: #3A4750;
  border: 3px solid #F6C90E;
  /* border-radius: 4px; */
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

.hamarabtnSecond:hover {
  box-shadow: 4px 4px 0 #F6C90E;
  transform: translate(-4px, -4px);
}

.hamarabtnSecond:focus-visible {
  outline-offset: 1px;
}

.vh100 {
  height: 100vh !important;
}

#icon {
  color: #3A4750;
  transition: all .14s ease-out;
}

#icon:hover {
  color: #F6C90E;
  transition: all .14s ease-out;
  scale: 1.2;
}

#dashboardCard:hover {
  box-shadow: 4px 4px 0 #3A4750;
  transform: translate(-4px, -4px);
}

input:focus {
  border: 3px solid #3A4750 !important;
  box-shadow: 0px 4px 0 #3A4750 !important;
  font-weight: 600;
  transform: translate(0px, -4px);
  transition: all .14s ease-out;
}

select:hover {
  box-shadow: 0px 4px 0 #3A4750 !important;
  font-weight: 600;
  transition: all .14s ease-out;
}

.card {
  transition: all 0.2s linear;
}

.card:hover {
  /* scale: 1.1; */
  box-shadow: 0px 5px 0 #3A4750 !important;
  transform: translate(0px, -4px);
  transition: all 0.2s linear;
}

.fs-6 {
  font-size: 0.75rem !important;
}

/* 
#menuList {
  display: none;
} */
.dropdown-menu {
  border: 2px solid black;
  margin-left: 80px;
  transition: all 1s linear;
}

svg {
  font-family: 'Russo One', sans-serif;
  position: absolute;
  width: 25%;
  height: 25%;
}

svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 140px;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}